:root {
  --titulo:'Yusei Magic', sans-serif;
  --texto: 'Bubblegum Sans', cursive;
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00416A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(228, 229, 230, 0.692), rgba(0, 66, 107, 0.692)),url(../public/img/pexels.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(228, 229, 230, 0.2), rgba(0, 65, 106, 0.89)),url(../public/img/pexels.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family:var(--texto);
}

h1, h2, h3, h4, h5, h6  {
  font-family: var(--titulo);
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.clima{
  color:#fff;
  width: 100%;
}

.clima__formulario {
  width: 80%;
  margin: 0 auto;
}

.clima__clima {
  width: 80%;
  margin: 4rem auto;
}


@media screen and (min-width:768px) {
  body {
    font-size: 17px;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgba(228, 229, 230, 0.2), rgba(0, 66, 107, 0.692)),url(../public/img/pexels.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(228, 229, 230, 0.1), rgba(0, 65, 106, 0.89)),url(../public/img/pexels.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  p {
    letter-spacing: 0.1rem;
  }

  .clima__formulario {
    width: 50%;
  }
  
  .clima__clima {
    width: 50%;
  }

  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  
  .clima__formulario {
    width: 40%;
  }
  
  .clima__clima {
    width: 40%;
  }

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
}